/* Das sind die verwendeten Farben */
* {
    /* Farben */
    --primaryColor: #008000;
    --secondaryColor: #403B3B;
    --sectionColor: #EFEFEF;
    --textColor: #403B3B;
    --backgroundColor: #ffffff;
    --iconColor: gray;
    /* Abstände */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}