/* Hier bitte alles was Schrift allgemein betrifft */
@import url(color.css);

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf');
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: var(--textColor);
}

h1 {
    font-size: 24px;
    margin-block-start: 12px;
    margin-block-end: 12px;
}

h2 {
    font-size: 24px;
    margin-block-start: 12px;
    margin-block-end: 12px;
}

h3 {
    font-size: 18px;
    margin-block-start: 12px;
    margin-block-end: 12px;
}

h4 {
    font-size: 16px;
    margin-block-start: 12px;
    margin-block-end: 12px;
}

p {
    font-size: 16px;
}

.datenschutz-css a:link{
    color: var(--primaryColor);
}

.impressum-css a:link{
    color: var(--primaryColor);
}

@media(max-width: 768px) {
    h1 {
        text-align: center;
    }
}

@media(max-width: 425px) {
    
}

@media(max-width: 320px) {}