* {
    /* Farben */
    --primaryColor: #ff0095;
    --secondaryColor: #403B3B;
    --sectionColor: #EFEFEF;
    --textColor: #000000;
    --backgroundColor: #ffffff;
    /* Abstände */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}