.mobile-menu li {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.open.mobile-menu ul .open.mobile-menu li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.hamburger-icon {
    display: none;
    margin: auto 0;
    cursor: pointer;
    width: 48px;
    height: 48px;
}

.hamburger-icon div {
    display: block;
    width: 40px;
    height: 6px;
    background-color: var(--secondaryColor);
    margin: 6px 0;
    border-radius: 4px;
    margin-right: 0px;
    transition: 0.4s;
}

.open .line1 {
    translate: 0px 12px;
    transform: rotate(45deg);
}
  
.open .line2 {
    opacity: 0;
}

.open .line3 {
    translate: 0px -12px;
    transform: rotate(-45deg);
}

.open .mobile-menu {
    display: flex;
    align-items: center;  
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    display: none;
    position:absolute;
    right: 0px;
    margin-top: 15px;
    padding: 16px;
    height: auto;
    color: var(--primaryColor);
    border-color: white;
    border-top: 1px;
    border-style: solid;
    background-color: white;
    box-shadow: rgb(0, 0, 0) 0px 16px 16px -15px;
}

.mobile-menu a {
    color: var(--secondaryColor);
}

.mobile-menu a:hover {
    color: var(--primaryColor);
}

.mobile-menu a:active {
    color: var(--primaryColor);
}


.mobile-menu a:hover, .desktop-menu a:hover {
    font-weight: bold;
}


