/* Hier kommt alles rein was Layout allgemein betrifft! */
@import url(fonts.css);
@import url(color.css);
@import url(header_footer.css);
@import url(content-frontpage.css);

body {
    display: flex;
    flex-direction: column;  
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
    margin: 0px;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content {
    min-height: 100vh;
}

.button {
    text-decoration: none;
    background-color: var(--primaryColor);
    color: var(--backgroundColor);
    padding: 8px 28px;
    cursor: pointer;

}
