/* Hier kommt alles rein was Layout allgemein betrifft! */
@import url(fonts.css);
@import url(color.css);
@import url(header_footer.css);
@import url(content-frontpage.css);
@import url(table.css);
@import url(mobil-menu.css);
@import url(responsive.css);
@import url(impressum.css);
@import url(contact.css);

body {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 0px;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content {
    min-height: 80vh;
}

.button {
    text-decoration: none;
    background-color: var(--primaryColor);
    color: var(--backgroundColor);
    padding: 8px 28px;
    cursor: pointer;
    width: 170px;
    margin-top: 30px;
    text-align: center;
    border: none;
}

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 20px;
    z-index: 99;
    background-color: var(--primaryColor);
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: background-color 0.3s;
}

#backToTop:hover {
    background-color: #45a049;
}

#backToTop i {
    font-size: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: bold;
}