table {
    margin-top: 20px;
    width: 100%;
}

td {
    padding:20px 40px 20px 40px;
    border-radius: 8px;

}

tr:nth-child(odd) {
    background-color: var(--sectionColor);
}


th {
    text-align: left;
    padding: 10px;
    border-radius: 8px;
}